{% extends 'base.html' %}
{% block page %}
    {% for order in object_list %}
        <div>
            <a href="{% url 'order-details' order.id %}">
                {{ order.name }}
            </a>
            {{ order.client.name }}
        </div>
        <div>
            <a href="order/update/{{ order.id }}/">
            Изменить
            </a>
            <a href="order/del/{{ order.id }}/">
            Удалить
            </a>
        </div>
        <hr>
    {% endfor %}
{% endblock %}